.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

.app main{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
