<footer class="bg-transparent text-white py-4 px-8 overflow-hidden -z-50">
  <div class="flex flex-nowrap items-center justify-center space-x-8 animate-fade-in-up animate-delay-300">
    <img src="./../assets/imperial-logo.png" alt="Partner Logo 1" class="h-4 sm:h-4 md:h-6 lg:h-10">
    <img src="./../assets/nhs-surrey-logo.png" alt="Partner Logo 2" class="h-6 sm:h-6 mh:h-8 lg:h-14">
    <img src="./../assets/nihr-logo.png" alt="Partner Logo 3" class="h-4 sm:h-4 md:h-6 lg:h-10">
    <img src="./../assets/ukri-epsrc-logo.png" alt="Partner Logo 4" class="h-6 sm:h-6 mh:h-8 lg:h-14">
  </div>
</footer>
